* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    margin: 0 auto;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header>h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header>p {
    max-width: 350px;
    font-size: 0.875rem;
    color: #8E8E8E;
}

.game-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F9F4DA;
    border-radius: 5px;
    min-height: 60px;
    max-width: 350px;
    margin: 2rem auto;
}

.game-status.won {
    background-color: #10A95B;
}

.game-status.lost {
    background-color: #BA2A2A;
}

.game-status.farewell {
    background-color: #7A5EA7;
    border: 1px dashed #323232;
}

.game-status>h2 {
    font-size: 1.25rem;
}

.game-status>p {
    font-size: 0.875rem;
}

.game-status>p.farewell-message {
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 400;
}

.language-chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    max-width: 350px;
    margin: 0 auto;
}

.language-chips>.chip {
    padding: 0.25rem;
    border-radius: 4px;
    position: relative;
}

.language-chips>.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

}

.word-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.15rem;
    margin-block: 2rem;
    max-width: 100%;
}

.word-box>.letter {
    width: 3.25rem;
    height: 3.25rem;
    padding: 0.75rem 1rem;
    background-color: #323232;
    font-size: 1.25rem;
    text-align: center;
    border-bottom: 2px solid #D9D9D9;
}

.keyboard {
    margin: 0 auto;
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
}

.keyboard>button {
    width: 30px;
    height: 30px;
    background-color: #ffc900;
    border-radius: 2px;
    outline: none;
    border: none;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
}

.keyboard>button.correct {
    background-color: #10A95B;
}

.keyboard>button.wrong {
    background-color: #EC5D49;
}

.keyboard>button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.new-game-btn {
    width: 100%;
    max-width: 250px;
    display: block;
    padding: 0.75rem 3rem;
    margin: 3rem auto;
    background-color: #11B5E5;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}